/******* Home page css ********/

.row {
    margin: 0!important;
    padding: 0!important;
}


/* font setting */

@font-face {
    font-family: "MontserratMedium";
    src: url("../font/Montserrat-Regular.otf")
}

@font-face {
    font-family: "MontserratBold";
    src: url("../font/Montserrat-Bold.otf")
}

@font-face {
    font-family: "MontserratSemibold";
    src: url("../font/Montserrat-SemiBold.otf")
}

@font-face {
    font-family: "MontserratLight";
    src: url("../font/Montserrat-Light.otf")
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf")
}

.home-content__main {
    padding-top: 15rem!important;
    position: relative;
    max-width: 1200px!important;
    margin: 0 auto;
}

.vpsize--default {
    position: fixed;
    right: 0;
}

.home-content__main h3 {
    font-family: "MontserratMedium";
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    margin-top: 0;
    margin-bottom: 1.2rem;
    margin-left: 6px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.25;
    font-size: 15px;
}

.home-content__main h1 {
    font-family: "MontserratMedium";
    font-size: 4rem;
    line-height: 1.2;
    margin-top: 0;
    color: #FFFFFF;
}

.bg-image {
    padding-bottom: 15.6em;
    background-image: url('../images/bg/bg.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.v-content {
    padding: 0!important;
}

.joinbtn {
    font-family: "MontserratMedium";
    font-size: 14px;
    text-transform: uppercase;
    height: 3.4rem;
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    color: #000000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: transparent !important;
    border: 2px solid #64a29d;
    width: 215px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin: 6rem 1.5rem 0 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-content__scroll {
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.home-content__scroll a {
    font-family: "MontserratSemibold";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FFFFFF!important;
    position: relative;
    display: inline-block;
    line-height: 3rem;
    padding-left: 2.5rem;
    text-decoration: none;
}

.home-content__scroll a::before {
    border-bottom: 2px solid #64a29d;
    border-right: 2px solid #64a29d;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.home-content__line {
    display: block;
    width: 2px;
    height: 8.2rem;
    background-color: #64a29d;
    position: absolute;
    right: 80px;
    bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000000;
}

.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}


/* second section */

.s-about {
    padding-top: 9rem;
    color: #010507;
    position: relative;
    background-color: #64a29d!important
}

.v-card {
    background-color: #64a29d!important;
    box-shadow: none!important;
}

.about__line {
    display: block;
    width: 2px;
    height: 8.2rem;
    background-color: #FFFFFF;
    position: absolute;
    right: 80px;
    top: -9em;
}

.black--text {
    font-family: "MontserratBold";
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #89dad4;
    margin-top: 0;
    margin-bottom: 0;
}

.text01 {
    font-size: 20px;
    font-weight: bold;
}

.text02 {
    margin: 0 auto;
    font-family: "MontserratMedium";
    font-size: 4.2rem;
    line-height: 1;
    color: white;
    padding-bottom: 30px;
    font-weight: bold;
}

.text04 {
    margin: 0 auto;
    font-family: "MontserratMedium";
    font-size: 4.2rem;
    line-height: 1;
    color: white;
    padding-bottom: 6rem;
    font-weight: bold;
}

.text03 {
    /* font-family: "lora-regular", serif; */
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    max-width: 1024px;
    width: 94%;
    margin: 30px auto;
    color: white;
    font-weight: 700;
}

.text05 {
    max-width: 960px;
    width: 94%;
    margin: 0 auto;
    font-family: "MontserratMedium";
    font-size: 4.2rem;
    line-height: 1;
    color: white;
    padding-bottom: 0;
    font-weight: bold;
}

.about-stats {
    text-align: center;
    margin: 5em auto 10em;
}

.step {
    width: 33%;
}

.about-number {
    font-family: "MontserratBold";
    font-size: 5.4rem;
    font-weight: bold;
}


/* section 4 */

.s-clients {
    padding-top: 11.2rem;
    padding-bottom: 17.8rem;
    background-color: white;
    color: #757575;
    position: relative;
}

.subhead {
    font-family: "MontserratBold";
    font-size: 20px;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #89dad4;
    font-weight: bold;
    margin: 10px auto;
}

.subcontent {
    font-family: "MontserratMedium";
    font-size: 3.4rem;
    line-height: 1.2;
    color: #000000;
    margin: 0 auto;
    max-width: 960px;
    font-weight: bold;
    margin-bottom: 2.2rem;
}

.signupbtn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: #64a29d;
    font-family: "MontserratMedium";
    font-size: 15px;
    letter-spacing: .3rem;
    line-height: calc(4.4rem - .4rem);
    padding: 0 7rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4rem;
}

.v-footer {
    background-color: #111111!important;
    color: white;
    padding: 5rem 0 6rem!important;
}


/* Responsive of home page */

@media only screen and (max-width: 1500px) {
    .home-content__main {
        max-width: 1000px!important;
    }
    .home-content__main h1 {
        font-size: 3.8rem;
    }
}

@media only screen and (max-width: 1200px) {
    .home-content__main {
        max-width: 800px!important;
    }
    .home-content__main h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .home-content__main {
        max-width: 680px!important;
    }
    .home-content__main h1 {
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 800px) {
    .home-content__main {
        max-width: 550px!important;
    }
    .home-content__main h1 {
        font-size: 2.8rem;
    }
    .text02,
    .text04 {
        font-size: 4rem;
    }
    .step {
        width: 49%;
    }
    .subcontent {
        font-size: 3em;
    }
    .s-clients {
        padding-top: 7.2rem;
        padding-bottom: 9.8rem;
    }
}

@media only screen and (max-width: 700px) {
    .home-content__main {
        max-width: 490px!important;
    }
    .home-content__main h1 {
        font-size: 2.5rem;
    }
    .joinbtn {
        margin: 3rem 1.5rem 0 0;
    }
    .text02,
    .text04 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .step {
        width: 100%;
    }
    .subcontent {
        font-size: 2.5em;
    }
    .footerlogo {
        width: 100px!important;
    }
}

@media only screen and (max-width: 500px) {
    .home-content__main {
        max-width: none!important;
        width: 85%;
        text-align: center;
    }
    .text02,
    .text04 {
        font-size: 3rem;
    }
    .signupbtn {
        padding: 0 4rem;
        font-size: 14px;
        letter-spacing: 0.2rem;
    }
    .home-content__scroll {
        right: 70px;
        bottom: 70px;
    }
    .home-content__line {
        height: 6.2rem;
        right: 40px;
    }
    .about__line {
        height: 6.2rem;
        right: 40px;
    }
}


/******* About page css ********/

.about-desc {
    max-width: 1024px;
}

.v-window__prev,
.v-window__next {
    top: calc(20% - 20px)!important;
    background: none!important;
}

.mdi-chevron-right::before {
    content: "\2192"!important;
    background-color: #64A29D;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.mdi-chevron-right::before:hover {
    display: none;
}

.mdi-chevron-left::before {
    content: "\2190"!important;
    background-color: #64A29D;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.mdi-chevron-left::before:hover {
    display: none;
}

.v-window__next:hover,
.v-window__prev:hover {
    cursor: pointer;
    background: none;
    outline: none;
}

.v-btn--icon.v-size--default {
    height: 56px;
    width: 56px;
}

.v-btn--flat {
    border-radius: initial!important;
}

.solution_name {
    text-transform: initial;
}


/* About page resposive */

@media only screen and (max-width: 800px) {
    .text05 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 700px) {
    .text05 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .text05 {
        font-size: 3rem;
    }
    .v-carousel__controls__item {
        display: none!important;
    }
}


/******* Pricing page css ********/

.s-pricing {
    padding-top: 11.2rem;
    padding-bottom: 10.8rem;
    background-color: white;
    color: #757575;
    position: relative;
}

.pricing-stats {
    text-align: center;
    margin: 20px auto 5em;
}

.pricing_card {
    width: 33%;
    padding: 50px 0 0 10%;
    position: relative;
}

.service_icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: -70px;
}

.service_text {
    font-family: "MontserratMedium";
    color: black;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.price_btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #64a29d;
    font-family: "MontserratMedium";
    font-size: 12px;
    letter-spacing: 3px;
    padding: 20px 5vw;
    color: white;
    cursor: pointer;
    margin: 1em 0 0 -10px!important;
    text-transform: uppercase;
}

.service_list p {
    color: black;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px;
    margin-top: 10px;
}

.service_list span {
    margin-left: 50px;
    margin-top: 20px;
}

.service_content {
    text-align: left;
    font-family: "lora-regular", serif;
    font-size: 20px;
    margin-top: 20px;
}

.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
    opacity: 0!important;
}


/* responsive pricing page */

@media only screen and (max-width: 900px) {
    .pricing_card {
        width: 49%;
    }
}

@media only screen and (max-width: 700px) {
    .pricing_card {
        width: 100%;
    }
    .service_icon {
        float: none;
        margin-left: 0;
    }
    .service_text {
        text-align: center;
    }
}


/******* Stream page css ********/

.stream {
    background-color: #111111;
    padding-top: 10%;
}

.stream_card {
    width: 66%;
    margin: 0 17%;
    background-color: #202029!important;
    padding: 40px 30px;
    border-radius: 5px!important;
}

.stream_title {
    font-size: 1.8em;
    margin: 0 0 5px;
    color: white;
}

.stream_description {
    font-size: 16px;
    margin: 0 0 5px;
    color: white;
}

.stream_date {
    float: right;
    font-size: 18px;
    color: white;
}

video {
    border-radius: 0 0 10px 10px!important;
}

.about_stream_card,
.chat_stream_card {
    width: 100%;
    background-color: #202029!important;
    border-radius: 5px!important;
}

.host_stream_card {
    width: 100%;
    background-color: #202029!important;
    border-radius: 5px!important;
    padding: 0 0 50px 0;
}

.send_message {
    color: black;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    padding: 8px 21px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
}

.message_textarea {
    padding: 20px;
    -webkit-appearance: none;
    width: 100%;
    height: 110px!important;
    max-width: 88%;
    border-bottom-color: #15161b!important;
    background: #24242d;
    color: #dedee0!important;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 2px;
}

.message_textarea:focus {
    outline: none;
}

.message_user {
    font-size: 16px;
    color: white;
    margin-bottom: 0px!important;
    line-height: 1;
}

.message_content {
    font-size: 14px;
    color: #8b8b92;
    margin-bottom: 0px!important;
}

.chat {
    background-color: #2c2c38!important;
}

.total_message {
    background-color: #202029;
    border: 1px solid #15161b;
}

.each_message {
    text-align: left;
    background: #2c2c38;
    margin-bottom: 5px;
    padding: 10px;
}

.ticket_btn {
    background: white;
    padding: 12px 50px;
    border-radius: 10px;
    color: #000;
}

.message_icon {
    width: 43px;
    height: 43px;
    border-radius: 50% !important;
}


/* responsive stream page */

@media only screen and (max-width: 1200px) {
    .stream_card {
        width: 80%;
        margin: 0 10%;
    }
}

@media only screen and (max-width: 700px) {
    .stream_card {
        width: 100%;
        margin: 0;
    }
}


/******* Signin page css ********/

.signin {
    background-color: #0d0d15;
    height: 100vh;
    padding-top: 150px
}

.signin_card {
    width: 34%;
    margin: 0 33%;
    background-color: #202029!important;
    padding: 32px 28px;
    border-radius: 6px!important;
    -webkit-box-shadow: 0 1px 4px 0 #0a0f1b9c;
    box-shadow: 0 1px 4px 0 #0a0f1b9c;
}

.signinform {
    padding-left: 15px;
    background: #24242d!important;
    font-family: "Roboto";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.00937em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-bottom: 20px;
    color: white;
}

.signinform:focus {
    outline: none;
    border-bottom: 2px solid #1fbe92;
}

.signin_title {
    color: white;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.signin_card .v-label {
    color: #646483!important;
}

.formbtn {
    border-radius: 7px!important;
    padding: 15px 25px!important;
    color: white!important;
    background-color: #1fbe92!important;
    width: 100%;
    font-family: "Roboto";
    font-size: 20px;
}

.form_suggestion {
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 20px 0 0 0!important;
}

@media only screen and (max-width: 1200px) {
    .signin_card {
        width: 40%;
        margin: 0 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .signin_card {
        width: 50%;
        margin: 0 25%;
    }
}

@media only screen and (max-width: 800px) {
    .signin_card {
        width: 60%;
        margin: 0 20%;
    }
}

@media only screen and (max-width: 700px) {
    .signin_card {
        width: 70%;
        margin: 0 15%;
    }
}

@media only screen and (max-width: 600px) {
    .signin_card {
        width: 80%;
        margin: 0 10%;
    }
    .signin_title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .signin_card {
        width: 90%;
        margin: 0 5%;
    }
}


/******* Refer page css ********/

.refer {
    background-color: white!important;
    padding: 8rem 0;
}

.refer_form {
    margin-bottom: 30px;
}

.refer_title {
    font-family: "MontserratMedium";
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 40px;
}

.refer_content {
    font-family: "lora-regular", serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    margin-bottom: 3rem;
}

.refer .v-label {
    overflow: hidden;
    text-overflow: ellipsis;
    top: 6px;
    white-space: nowrap;
    pointer-events: none;
    margin-bottom: 20px;
}

.refer_label {
    font-family: "MontserratMedium";
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.714;
    color: #000000;
    display: block;
}

.refer_input {
    display: block;
    outline: none;
    color: #333333;
    font-family: "MontserratLight";
    font-size: 1.1rem;
    line-height: 3rem;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.refer_input:focus {
    border-bottom: 2px solid black;
}

.refer_btn {
    background: #64a29d;
    border-color: #64a29d;
    color: #FFFFFF;
    display: inline-block;
    font-family: "MontserratMedium";
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 3.4rem;
    line-height: calc(3.4rem - .4rem);
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/******* Partner page css ********/

.partner {
    padding: 8rem 0;
}

.partner_container {
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
}

.partner_subcontent {
    font-family: "MontserratMedium";
    font-size: 3.4rem;
    line-height: 1.2;
    color: white;
    margin: 0 auto;
    max-width: 960px;
    font-weight: bold;
    margin-bottom: 2.2rem;
}

.partner_card {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
    padding: 2rem 0!important;
    font-family: "MontserratLight";
    font-size: 1.5rem;
    line-height: 2;
    position: relative;
}

.contact_form {
    background-color: rgba(0, 0, 0, 0.4)!important;
    padding: 1rem 1.5rem;
    border-radius: 0!important;
}

.contact_title {
    font-size: 14px;
    color: white;
    letter-spacing: .16rem;
    margin-bottom: 3rem;
}

.contact_form .v-label {
    color: rgba(255, 255, 255, 0.6)!important;
}

.contact_form input {
    color: white!important;
}

.contact_form textarea {
    color: white!important;
    padding: 20px 0!important;
}

.partner_btn {
    margin-top: 3.6rem;
    width: 100%;
    margin-right: 0;
    background: #64a29d;
    border-color: #64a29d;
    color: #FFFFFF!important;
    display: inline-block;
    font-family: "MontserratMedium";
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 3.4rem;
    line-height: calc(3.4rem - .4rem);
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    color: #000000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact_info {
    padding: 2rem;
    background-color: #151515!important;
    height: 100%;
    border-radius: 0!important;
}

.contactinfo_title {
    color: #64a29d!important;
    font-family: "MontserratMedium"!important;
}

@media only screen and (max-width: 800px) {
    .partner_subcontent {
        font-size: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .partner_subcontent {
        font-size: 2.5em;
    }
}


/* width */

.chat::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

.chat::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}


/* Handle on hover */

.chat::-webkit-scrollbar-thumb:hover {
    width: 15px;
    background: #aaa;
}